PORT=5000
MONGODB_URI=mongodb+srv://SEU_USUARIO:SUA_SENHA@SEU_CLUSTER.mongodb.net/?retryWrites=true&w=majority
JWT_SECRET=troque_esta_chave_por_uma_mais_segura
SUPER_NAME=SUPER User
SUPER_EMAIL=super@admin.com
SUPER_PASSWORD=123456
CORS_ORIGIN=http://localhost:5173,https://seu-frontend.onrender.com
